<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Wall Street Journal Technology News</h1>
    <p>Click on the button to start scraping news from the Wall Street Journal Technology section!</p>
    <a class="btn btn-lg btn-primary btn-block" href="scrape" role="button">Start Scraping!</a>
</form>