<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Here are the latest news from the Wall Street Journal Technology Section</h6>
    </div>
</div>

<ul>
{{#each headlines}}
    <li><a class="btn btn-primary text-white" role="button">{{this}}</a></li>
{{/each}}
</ul>









